## 서비스 실행에 필요한 환경 변수 예시입니다
POSTGRES_DB=sprout
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}